


<header>
  <a href="/" class="site-logo"> <span class="yt">YT</span> hook </a>
  <a href="play1" class="see-it">See it in action</a>
</header>

 <div class="showcase-outcase"></div>
  <section class="showcase">
    <div class="showcase-wrapper">
      <img src="/assets/youtube.svg">
      <h1>Do more than embed, the only Youtube library you <span>need</span></h1>
      <p>With Hook multiple playlists, you can tell your page what to show, depending on what's playing...</p>
      <a class="get-it" href="https://github.com/anthonylan/YTHook">Get it on Github</a>
    </div>
  </section>
      


    
    



