


    
       
        <div class="quickside"></div>
        <section class="main-hook">
                <div class="video-holder"></div> 
                <div class="middle-nav">
                    <a href="play1">Billie Eilish</a>
                    <a href="play2">The weeknd</a>
                    <a href="play3" class="isActive">migos</a>
                    <a href="play4">Post malone</a>
                    <a href="play5">sia</a>
                    <a href="play6">camila cabello</a>
                </div>
                <div id="marraine-hook"></div>
        </section>
       
    


   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script>
    let mainPlayListId = 'PLg2o_O8U41GAXMExlxy6w9F4CQieE_aJx'
    let nextPlayListId = 'PLrZOPrth3tHPYt-dRZjRZCNJWjOdnjV88'
    </script>
    
</body>
</html>